.myclock {
  position: absolute;
}

.clock {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/clock.png);
  background-size: cover;
  border: 4px;
  box-shadow: 0em -1.2em 1.2em rgba(255, 255, 255, 0.06),
              inset 0em -1.2em 1.2em rgba(255, 255, 255, 0.06),
              0em 1.2em 1.2em rgba(0, 0, 0, 0.3),
              inset 0em 1.2em 1.2em rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.clockContainer.light .clock {
  box-shadow: 0em -1.2em 1.2em rgba(255, 255, 255, 0.3),
              inset 1em 1em -1em rgba(255, 255, 255, 0.3),
              0em -1.2em -1.2em rgba(0, 0, 0, 0.5),
              inset 1em -1em 1em rgba(0, 0, 0, 0.1);
}

.clock :hover {
  cursor: pointer;
}

.clock:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #000;
  border-radius: 50%;
  z-index: 10000;
}

.clockContainer.light .clock:before {
  background: #1a74be;
}


.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}

.clock .hour, .hr {
  width: 85px;
  height: 85px;
} 

.clock .min, .mn {
  width: 101px;
  height: 101px;
}

.clock .sec, .sc {
  width: 123px;
  height: 123px;
}

.hr, .mn, .sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr:before {
  content: '';
  position: absolute;
  width: 7.5px;
  height: 55px;
  background: #f81460;
  z-index: 10;
  border-radius: 2.8px;
}

.mn:before {
  content: '';
  position: absolute;
  width: 3.5px;
  height: 65px;
  background: #000000;
  z-index: 11;
  border-radius: 3px;
}

.clockContainer.light .mn:before {
  background: #091921;
}

.sc:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 80px;
  background: #0075FA;
  z-index: 12;
  border-radius: 3px;
}


.toggleClass {
  position: absolute;
  top: 35px;
  right: 150px;
  width: 20px;
  margin: 2px;
  height: 20px;
  font-size: 18px;
  border-radius: 50%;
  background: #d1dae3;
  color: #d1dae3;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
}


.toggleClass:before {
  position: absolute;
  content: 'Light Mode';
  white-space: nowrap;
  left: 25px;
}

.clockContainer.light .toggleClass {
  background: #091921;
  color: #091921;
  content: 'Dark Mode';
}


.clockContainer.light .toggleClass:before {
  content: 'Dark Mode';
  white-space: nowrap;
}

